.vagrant/
data/logs/*
!data/logs/.gitkeep
data/sessions/*
!data/sessions/.gitkeep
/vendor/
/app/config/parameters.yml
composer.phar
phinx.yml
.DS_Store
html/
.idea
._.DS_Store
._Vagrantfile
._puphpet
tests/coverage/
