# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.PNG binary
*.jpg binary
*.gif binary
*.jar binary
*.pdf binary
*.ppt binary
*.ttf binary
*.bson binary
*.request binary
*.response binary
*.phar binary