body {
	padding-top: 50px;
	padding-bottom: 20px;
}

img.avatar-small {
	width: 24px;
	height: 24px;
}

img.avatar-medium {
	width: 48px;
	height: 48px;
}

.mentor-label {
	display: inline-block;
	margin-right: 1px;
}











