{% extends 'layouts/default.twig' %}
{% block content %}
    <div id="wrapper">
        <div id="hero">
            <div class="header">
                <img src="images/PHP-Mentoring.png">
                PHP Mentoring
            </div>
        </div>
    </div>

    <div class="container">

    </div>
{% endblock %}
