{% extends 'layouts/default.twig' %}
{% block content %}
    <h1>PHP Mentors</h1>

    <div data-ng-controller="MentorSearchController">
        <p>Type in a tag to search for a mentor. Separate tags with comma (e.g. PHP, testing).</p>
        <form>
            <div class="input-group">
                <label for="name">Subject:</label> <input type="text" name="name" data-ng-model="name">
            </div>
        </form>

        <div class="alert alert-danger" role="alert" data-ng-show="loadingError">
            <strong>Oops!</strong> We couldn't load the mentors. Try again later, or ping us on Twitter!
        </div>

        <br />

        <div class="panel panel-default" data-ng-repeat="mentor in mentors | mentorTags:name | orderBy :mentor.name">
            <div class="panel-heading"><a href="/profile/{% verbatim %}{{ mentor.id }}{% endverbatim %}">{% verbatim %}{{ mentor.name }}{% endverbatim %}</a></div>
             <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="{% verbatim %}{{ mentor.imageUrl }}{% endverbatim %}?s=150" width="150" height="150"/>

                        <div class="tags">
                            <span class="label label-primary" data-ng-repeat="tag in mentor.mentorTags">
                                {% verbatim %}{{ tag.name }}{% endverbatim %}
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-10" ng-bind-html="mentor.profile_markdown | unsafe"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
