database:
  driver: 'pdo_mysql'
  host: 'mysql'
  dbname: 'appdb'
  user: 'dbuser'
  password: 'dbuser'

mail:
  host: 'mailhog'
  port: 25
  username: ''
  password: ''

github:
  api_key: 'changeme'
  api_secret: 'changeme'