{% extends 'layouts/default.twig' %}
{% block content %}
    <h1>PHP Apprentices</h1>

    <div data-ng-controller="ApprenticeSearchController">
        <p>Type in a tag to search for an apprentice. Right now this only supports one tag.</p>
        <form>
            <div class="input-group">
                <label for="name">Subject:</label> <input type="text" name="name" data-ng-model="name">
            </div>
        </form>

        <div class="alert alert-danger" role="alert" data-ng-show="loadingError">
            <strong>Oops!</strong> We couldn't load the mentors. Try again later, or ping us on Twitter!
        </div>

        <div class="panel panel-default" data-ng-repeat="apprentice in apprentices | apprenticeTags:name | orderBy :apprentice.name">
            <div class="panel-heading"><a href="/profile/{% verbatim %}{{ apprentice.id }}{% endverbatim %}">{% verbatim %}{{ apprentice.name }}{% endverbatim %}</a></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="{% verbatim %}{{ apprentice.imageUrl }}{% endverbatim %}?s=150" width="150" height="150" />

                        <div class="tags">
                            <ul class="list-inline">
                                <li data-ng-repeat="tag in apprentice.apprenticeTags">
                                    <span class="label label-primary">
                                        {% verbatim %}{{ tag.name }}{% endverbatim %}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-10" ng-bind-html="apprentice.profileMarkdown | unsafe"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
