{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_label %}
    {{ parent() }}
    {% if help is defined %}
        <p class="help-block">
            {{ help }}
        </p>
    {% endif %}
{% endblock form_label %}